<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">AgroTracker</a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ show: menuOpen }" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" (click)="closeNavbar()">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && isProductor" (click)="closeNavbar()">
          <a class="nav-link" routerLink="/parcelas" routerLinkActive="active">Mis Parcelas</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn" (click)="closeNavbar()">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Registro</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn" (click)="closeNavbar()">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && isSuperadmin" (click)="closeNavbar()">
          <a class="nav-link" routerLink="/user-management" routerLinkActive="active">Gestión de Usuarios</a>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn && isAdmin" (click)="closeNavbar()">
          <a class="nav-link" routerLink="/ciudades" routerLinkActive="active">Gestión de Ciudades</a>

        <li class="nav-item" *ngIf="isLoggedIn && isSuperadmin" (click)="closeNavbar()">
          <a class="nav-link" routerLink="/productos/nuevo" routerLinkActive="active">Registrar Producto</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && isSuperadmin" (click)="closeNavbar()">
          <a class="nav-link" routerLink="/precios/nuevo" routerLinkActive="active">Registrar Precio Histórico</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn" (click)="closeNavbar()">
          <a class="nav-link" routerLink="/recomendaciones" routerLinkActive="active">Recomendaciones</a>

        </li>
        <li class="nav-item" *ngIf="isLoggedIn" (click)="closeNavbar()">
          <a class="nav-link" (click)="logout()">Cerrar sesión</a>
        </li>
      </ul>
      <span class="navbar-text ms-3" *ngIf="isLoggedIn">
        {{ user?.nombre }} ({{ user?.rol }})
      </span>
    </div>
  </div>
</nav>