<form [formGroup]="form" (ngSubmit)="guardar()" class="p-3 border rounded bg-light">
  <h4>Registrar producto</h4>
  <div class="mb-2">
    <label>Nombre</label>
    <input formControlName="nombre" class="form-control" />
  </div>
  <div class="mb-2">
    <label>Humedad óptima (%)</label>
    <input formControlName="humedad_optima" type="number" class="form-control" />
  </div>
  <div class="mb-2">
    <label>Temperatura óptima (°C)</label>
    <input formControlName="temperatura_optima" type="number" class="form-control" />
  </div>
  <div class="mb-2">
    <label>Temporada</label>
    <input formControlName="temporada" class="form-control" />
  </div>
  <div class="mb-2">
    <label>Tiempo de cosecha (días)</label>
    <input formControlName="tiempo_cosecha" type="number" class="form-control" />
  </div>
  <fieldset formGroupName="caracteristicas" class="mb-2">
    <legend>Características</legend>
    <div class="mb-3">
      <label for="sens_lluvia" class="form-label">Sensibilidad a la Lluvia</label>
      <select class="form-select" id="sens_lluvia" formControlName="sensibilidad_lluvia">
        <option value="">Seleccionar...</option>
        <option value="baja">Baja</option>
        <option value="media">Media</option>
        <option value="alta">Alta</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="sens_temp" class="form-label">Sensibilidad a la Temperatura</label>
      <select class="form-select" id="sens_temp" formControlName="sensibilidad_temperatura">
        <option value="">Seleccionar...</option>
        <option value="baja">Baja</option>
        <option value="media">Media</option>
        <option value="alta">Alta</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="sens_humedad" class="form-label">Sensibilidad a la Humedad</label>
      <select class="form-select" id="sens_humedad" formControlName="sensibilidad_humedad">
        <option value="">Seleccionar...</option>
        <option value="baja">Baja</option>
        <option value="media">Media</option>
        <option value="alta">Alta</option>
      </select>
    </div>
    <label>Otros</label>
    <input formControlName="otros" class="form-control mb-1" />
  </fieldset>
  <div class="mb-2">
    <label>Observaciones</label>
    <textarea formControlName="observaciones" class="form-control"></textarea>
  </div>
  <button class="btn btn-success" type="submit">Guardar</button>
  <div class="mt-2 text-success">{{ mensaje }}</div>
</form>
